{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="content__body">
        {{ .Content }}
    </div>
    <footer class="content__footer">
        {{ if or (eq .Section "post") (eq .Section "tldr") }}
            <div id="JFWebsiteWidget-019f41b90b90700089d2362b04f2e7d24a2c"></div>
            <script src="https://www.jotform.com/website-widgets/embed/019f41b90b90700089d2362b04f2e7d24a2c"></script>
        {{ end }}
    </footer>
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
    {{ if or (.Params.author) (.Params.date) }}
        <p>
            <!-- {{ if .Params.author }}By {{ .Params.author }}{{ if .Date }}, {{ end }}{{ end }} -->
            {{ if .Date }}{{ .Date.Format "2006-01-02" }}{{ end }}
        </p>
    {{ end }}
{{ end }}
