.credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.credits > .powered-by {
  flex-shrink: 0;
}

.credits > .source {
  flex-shrink: 0;
}

.credits > .source a {
  text-decoration: none;
}
